@font-face {
  font-family: "iconfont"; /* Project id 4550938 */
  src: url('iconfont.woff2?t=1715931967534') format('woff2'),
       url('iconfont.woff?t=1715931967534') format('woff'),
       url('iconfont.ttf?t=1715931967534') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-GIS_dizhi:before {
  content: "\e61c";
}

.icon-bimgis_suanliang:before {
  content: "\e624";
}

